// deps
cpputest
CppUTest
ApprovalTests*

// make targets
*.o
GildedRoseUnitTests
GildedRoseTextTests
GildedRoseApprovalTests

// coverage
*.gcov
*.gcda
*.gcno

// gitpod
core.*

// approvals
*.received.*

// debug
*.dSYM
